services:
  db:
    image: postgres:18.1-alpine3.22
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: trenero
      POSTGRES_USER: ${DB_USER:-username}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 20

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_URL: jdbc:postgresql://db:5432/trenero
      DB_USERNAME: ${DB_USER:-username}
      DB_PASSWORD: ${DB_PASSWORD:-password}
      GOOGLE_WEB_CLIENT_ID: ${GOOGLE_WEB_CLIENT_ID}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-your-jwt-ultra-secure-and-ultra-long-secret}
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  nginx:
    image: nginx:1.29.4-alpine3.23
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_healthy

volumes:
  db-data:
