spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/trenero
    driverClassName: org.postgresql.Driver
    username: username
    password: password
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
