spring:
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/trenero
    driverClassName: org.postgresql.Driver
    username: username
    password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
jwt:
  secret-key: your-jwt-ultra-secure-and-ultra-long-secret
