server:
  port: 8080
spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          batch_size: 25
  datasource:
    driverClassName: org.postgresql.Driver
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_CLIENT_ID}
            clientSecret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
jwt:
  secret-key: your-jwt-ultra-secure-and-ultra-long-secret
  access-token-expiration: 15m
  refresh-token-expiration: 7d
oauth2:
  secret-key: your-oauth2-ultra-secure-and-ultra-long-secret
  cookie-expiration: 5m
  google:
    client-id: ${EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID}
