spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health, info
cors:
  allowed-origins: https://trenero.org,https://www.trenero.org
